*{
	margin:0;
	padding:0;
}
body{
	background-image: url(images3.jpg);
	background-position: center;
	background-size: cover;
	display: block;
}
.des_nav{
	float: right;
}
.des_nav ul li {
	display: inline-grid;
}
.des_nav  ul li a{
	font-family: "open sans",sans-serif;
	padding: 20px 40px;
	text-decoration: none;
	color: red
}
.des_head{
	background: #4d4d4d;

}
.des_head::after {
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}
.des_nav ul li a:hover{
	transform: scale(2);
	background: #32CD32;

	transition: 0.3s;}

.heading{
	margin-top: 4em;
	text-align: center;
	animation-name: text;
	animation-duration: 3s;
	font-family: 'Frank Ruhl Libre', serif;
	font size:2em;
	animation: text 2s 1;
	color:#7D0552;
}
.section{
	font-family: 'Pridi', serif;
	font-size: 1.5em;
	color:#C35817;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 8em;

	


}
@keyframes text{
	0%{

		transform: translateX(1em);
		margin-bottom: 30px;

	}
	70%{
		letter-spacing: 10px;
		margin-bottom: 30px;
		
	}

}
