*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(download.jpg);
	display: block;
	background-size: 1500px 685px;
	background-repeat: no-repeat;
}
.des_head{
	background: #4d4d4d;

}
.des_head::after {
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}

.des_nav ul li a:hover{
	transform: scale(2);
	background: #32CD32;
	transition: 0.3s;}
	.des_nav{
	float: right;
}
.des_nav ul li {
	display: inline-grid;
}
.des_nav  ul li a{
	font-family: "open sans",sans-serif;
	padding: 20px 40px;
	text-decoration: none;
	color: red
}
.acads ol li{
	color:#810541;
	margin-left: 40px;
	margin-top: 40px;
	font-size: 2em;
	font-family: sans-serif;

}
.acads ol li:hover{
	transform:translateX(1em);

}
.acads1{
	font-size: 1.6em;
	font-family: 'Saira Semi Condensed', sans-serif;
	animation: text 3s 1;

}
@keyframes text{
	0%{

		transform: translateX(1em);
		margin-bottom: 30px;

	}
	70%{
		letter-spacing: 10px;
		margin-bottom: 30px;
		
	}

}

