*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url(images7.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	display:block;


}
.des_content{

}

.des_nav{
	float: right;
}
.des_nav ul li {
	display: inline-grid;
}
.des_nav  ul li a{
	font-family: "open sans",sans-serif;
	padding: 20px 40px;
	text-decoration: none;
	color: red
}
.des_align1{
	float: left;

}  
.des_head{
	background: #4d4d4d;

}
.des_head::after {
	content: " ";
	clear: both;
	display: block;
	visibility: none;
}

.des_nav ul li a:hover{
	transform: scale(2);
	background: #32CD32;
	transition: 0.3s;


}
.des_sec{
	display: inline-grid;
}
.des_sec1{
	margin-top: 3em;
	margin-left: 5em;
	
}
.des_sec2{

	margin-left: 10em;
	font-family:"Playball",sans;
	font-size: 2em;
	font-weight: normal;
	display: inline-grid;
	margin-top: 1em;
	margin-right: 7em;

}
.des_sec2:hover{
	color: red;
	transform: scale(1.2);
}